/* global */
:root {
    /* font size */
    --font-large: 1.8rem;
    --font-semi-large: 1.6rem;
    --font-medium: 1.4rem;
    --font-semi-medium: 1.2rem;
    --font-regular: 1rem;
    --font-small: 0.9rem;
    --font-micro: 0.8rem;

    /* font weight */
    --weight-medium: 800;
    --weight-semi-medium: 600;
    --weight-regular: 400;

    /* radius */
    --size-radius-large: 0.8rem;
    --size-radius-medium: 0.5rem;
    --size-radius-regular: 0.3rem;

    /* animation */
    --animation-duration: 300ms;

    /* color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;

    --color-black: #000000;

    --color-light-grey: #7c7979;
    --color-dark-grey: #4d4d4d;




    /* test border */
    --test-border: red 0.1rem solid;
}

/* universal tags */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

/* home */
#home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: url(imgs/background__img.jpg) center/cover no-repeat;
}

.home__title {
    font-size: var(--font-large);
    color: var(--color-light-white);

    padding: 0.5rem;
    margin-top: 45vh;
}

.home__button {
    margin-bottom: 10vh;
}

.home__button__restart,
.home__button__next {
    font-size: var(--font-semi-medium);
    color: var(--color-light-white);
    padding: 0.5rem;
    margin: 0 3rem;
    border: var(--color-light-white) 0.2rem solid;
    border-radius: var(--size-radius-medium);
}

.home__button__next:hover,
.home__button__restart:hover {
    color: var(--color-black);
    border: var(--color-black) 0.2rem solid;
    background-color: var(--color-light-white);
}

/* nav bar*/
#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 90%;
    top: 0.5rem;
    padding: 0.5rem;
    margin: 0rem 2rem;
    background: transparent;
    border: var(--color-white) 0.2rem solid;
    border-radius: var(--size-radius-large);
    transition: all 1s;
}

#nav.navbar--dark {
    background: black;
}

/* nav title */
.nav__title {
    display: flex;
    align-items: center;
}

.nav__title__logo {
    width: 2.4rem;
    height: 2.4rem;

    margin: 0.2rem;

    border: var(--color-light-white) 0.2rem solid;
    border-radius: var(--size-radius-regular);
}

.nav__title__text {
    color: var(--color-light-white);
    font-size: var(--font-semi-large);
    font-weight: var(--weight-medium);
    margin: 0.5rem;
}

/* nav list */
.nav__list {
    display: flex;
    margin: 0;
}

.nav__list__text {
    color: var(--color-light-white);
    font-size: var(--font-regular);
    padding: 0.5rem;
    margin: 0.2rem;
    border: var(--color-light-white) 0.2rem solid;
    border-radius: var(--size-radius-regular);
    cursor: pointer;
}

.nav__list__text:hover {
    color: var(--color-black);
    border: var(--color-black) 0.2rem solid;
    background-color: var(--color-light-white);
}

/* project */
#project {
    /* height: 100vh; */
    width: 100vw;
    padding-top: 12vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* border: var(--test-border); */
}

#project>div {
    background: url(imgs/background__img.jpg) center/cover no-repeat;
    border-radius: var(--size-radius-large);
    margin: 0;
}

.project__hd {
    font-weight: var(--weight-medium);
    font-size: var(--font-large);
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: var(--color-white);
    border-radius: var(--size-radius-large);
}

#project>ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
}

#project>ul>div {
    width: 36rem;
    height: 28rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    background: url(imgs/background__img.jpg) center/cover no-repeat;
    border-radius: var(--size-radius-large);
}

#project>ul>div>li {
    width: 35rem;
    height: 27rem;
    display: flex;
    padding: 0.5rem;
    background-color: var(--color-white);
    border-radius: var(--size-radius-large);
}

.project__list__left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.project__list__left>img {
    border-radius: var(--size-radius-medium);
    width: 18rem;
}

.project__title {
    font-size: var(--font-medium);
    font-weight: var(--weight-medium);
}


.project__list__right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 1.5rem;
}

.project__subtitle {
    font-size: var(--font-semi-medium);
    margin-bottom: 1rem;
}

.project__skill {
    display: flex;
    justify-content: center;
}

.project__skill>li {
    display: flex;

    font-size: var(--font-semi-medium);

    margin: 0.2rem;
}

.project__skill__logo {
    margin: 0 0.2rem;
}

/* skill */
#skills {
    height: 100vh;
    width: 100vw;
    background: url(imgs/background__img.jpg) center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.skill__top {
    display: flex;
    justify-content: space-evenly;
}

/* certificate */
.certificate {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem;
    border: var(--color-light-white) 0.2rem solid;
    border-radius: var(--size-radius-large);
}

.certificate__list {
    display: flex;
    justify-content: space-evenly;
    color: var(--color-light-white);
    font-size: var(--font-semi-medium);
}

.certificate__list__text {
    margin: 1rem 3rem;
}

/* frontend & back end */
.frontend,
.backend {
    width: 25vmax;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    margin: 5vmin 5vmax 0;
    border: var(--color-light-white) 0.2rem solid;
    border-radius: var(--size-radius-large);
}

.skill__title {
    font-size: var(--font-semi-large);
    font-weight: var(--weight-medium);
    align-self: center;
    color: var(--color-light-white);
    padding: 0.3rem;
    border: var(--color-light-white) 0.1rem solid;
    border-radius: var(--size-radius-medium);
}


.skill {
    padding: 1rem;
}

.skill__text {
    display: flex;
    justify-content: space-between;
    font-size: var(--font-semi-medium);
    color: var(--color-light-white);
    padding: 0.3rem;

}

.skill__bar {
    height: 0.8rem;
    background-color: var(--color-light-white);
    border: var(--color-light-white) 0.2rem solid;
}

.skill__bar__value {
    height: 0.4rem;
    background: url(imgs/background__img.jpg) center/cover no-repeat;
}

/* story */
#story {
    height: 88vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 8vh;
}

.story__background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: 25rem;
    background: url(imgs/background__img.jpg) center/cover no-repeat;
    border-radius: 50%;
}

.story__img {
    width: 23rem;
    border: var(--color-white) 0.2rem solid;
    border-radius: 50%;
}

.story__body {
    height: 30rem;
    width: 28rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
    background: url(imgs/background__img.jpg) center/cover no-repeat;
    border-radius: var(--size-radius-large);
    border: black 0.1rem solid;
}

.story__text {
    height: 14rem;
    width: 26rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    margin: 0;
    padding: 0 1.5rem;
    border: var(--color-white) 0.2rem solid;
    border-radius: var(--size-radius-large);
}

.story__text__title {
    font-size: var(--font-semi-large);
    font-weight: var(--weight-medium);
}

.story__text__subtitle {
    font-size: var(--font-small);
    margin: 1rem 0;
}

.story__text__body {
    margin: 0;
}

.history {
    height: 13rem;
    width: 26rem;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0 0.5rem;
    background-color: var(--color-white);
    border-radius: var(--size-radius-large);
}

.history__box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 12rem;
}

.history__list {
    display: flex;
    flex-direction: column;
    margin: 0 0 0.5rem 0;
}

.history__list__date {
    align-self: flex-end;
}

.history__list__bar {
    height: 0.1rem;
    width: 100%;
    background-color: var(--color-black);
}

/* footer */
#footer {
    height: 12vh;
    display: flex;
    justify-content: space-around;
    margin: 0 2rem;
    background: url(imgs/background__img.jpg) center/cover no-repeat;
    border-radius: var(--size-radius-large);
}


#footer>.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#footer>.contact>div {
    margin-left: 1rem;
    color: var(--color-light-white);
    font-size: var(--font-medium);
}

#footer>.contact>ul {
    display: flex;
    justify-content: center;
    margin: 0.5rem 0 0 0;
    color: var(--color-light-white);
}

.contact__copyright {
    align-self: center;
    color: var(--color-light-white);
    font-size: var(--font-semi-medium);
}

#footer>.contact>ul>li>a {
    display: flex;
    color: var(--color-light-white);
    font-size: var(--font-semi-medium);
    padding: 0.2rem;
    margin: 0 0.2rem;

    border: var(--color-light-white) 0.1rem solid;
    border-radius: var(--size-radius-regular);
}

#footer>.contact>ul>li>a>i {
    margin: 0 0.2rem 0 0;
}

#footer>.contact>ul>li>a .kakao__logo {
    width: var(--font-semi-medium);
    height: var(--font-semi-medium);
    margin: 0 0.2rem 0 0;
}

#footer>.contact>ul>li>a:hover {
    cursor: pointer;
    color: var(--color-black);
    background-color: var(--color-light-white);
    border: var(--color-black) 0.1rem solid;
    border-radius: var(--size-radius-regular);
}